body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Georgia", "Times New Roman", serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    margin-top: 10px;
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile h1 {
    font-size: 50px;
    margin-top: 10px;
    color: white;
}

.profile p {
    font-size: 18px;
    color: white;
}

.social-media {
    margin-top: -15px;
    text-align: center; 
    background-color: #1a1a1a;
}

.social-media a {
    display: inline-block; 
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin: 0 15px; 
}

.social-media a i {
    vertical-align: middle; 
}

.social-media a:hover{
    color: grey;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 10px 0;
    margin-left: 0px;

}

nav li {
    margin: 0 20px;
}

nav li.active a,
nav li a:hover {
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #F3F3F3;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    margin-bottom: auto;
}

h2 {
    margin-top: 0px;
    font-size: xx-large;
    text-align: center;
    color: black;
}

.campus-life {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.campus-life h3 {
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: center;
}

.campus-life video {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.campus-life video:hover {
    background-color: #F3F3F3;
    opacity: 0.7;
}

.campus-life p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    text-align: justify;
}

footer {
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}